@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.pencil-cursor {
    cursor:
    /* url("data:image/svg+xml,%3Csvg width='64' height='64' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' version='1.1'%3E%3Cg class='layer'%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg id='svg_1' transform='matrix(1, 0, 0, 1, 0, 0)'%3E%3Cpath d='m29.26,1.07c-0.77,-0.75 -2.02,-0.75 -2.79,0l-9.31,9.13c-0.1,0.1 -0.16,0.22 -0.2,0.35l-1.1,4.32c-0.06,0.25 0.02,0.52 0.2,0.7s0.46,0.26 0.71,0.19l4.41,-1.07c0.13,-0.04 0.25,-0.11 0.35,-0.2l9.31,-9.13c0.37,-0.36 0.58,-0.85 0.58,-1.37c0,-0.52 -0.21,-1.01 -0.58,-1.37l-1.58,-1.55zm-8.26,11.85l-2.24,-2.2l6.53,-6.41l2.24,2.2l-6.53,6.41z' fill='%2378350f' id='svg_2' stroke='%2378350f'/%3E%3C/g%3E%3Crect fill='%23ffffff' height='3.85' id='svg_6' stroke='null' stroke-dasharray='null' stroke-linecap='null' stroke-linejoin='null' stroke-opacity='null' transform='rotate(-45, 23.3758, 8.25204)' width='9.86' x='18.45' y='6.32'/%3E%3C/g%3E%3C/svg%3E") */
        url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' version='1.1'%3E%3Cg class='layer'%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg id='svg_1'%3E%3Cpath d='m27.2,1.65c-1.53,-1.53 -4.02,-1.53 -5.55,0l-18.52,18.52c-0.19,0.2 -0.32,0.44 -0.4,0.7l-2.19,8.77c-0.12,0.51 0.03,1.05 0.4,1.42s0.92,0.52 1.42,0.39l8.77,-2.18c0.26,-0.08 0.5,-0.22 0.7,-0.4l18.52,-18.52c0.74,-0.74 1.15,-1.73 1.15,-2.77c0,-1.05 -0.41,-2.04 -1.15,-2.78l-3.15,-3.15zm-16.43,24.04l-4.46,-4.46l13,-13.01l4.46,4.46l-13,13.01z' fill='%2378350f' id='svg_2'/%3E%3C/g%3E%3Crect fill='%23fcd34d' height='6.77' id='svg_3' stroke='null' stroke-dasharray='null' stroke-linecap='null' stroke-linejoin='null' stroke-opacity='null' transform='rotate(-44.7454, 15.0449, 16.9826)' width='18.76' x='5.67' y='13.6'/%3E%3C/g%3E%3C/svg%3E")
            2 30,
        pointer;
}
